@model luchadores.Models.Verb

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Verb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstLetter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstLetter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form6)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
